@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Play:regular,700);

:root {
  font-family: "Play", sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {

}

.wrapper {
  width: 980px;
  margin: 0 auto;
}
